body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

input, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.client-card {
    padding: 10px;
    background: white;
    border-radius: 8px;
    margin: 10px 0;
}

.invoice-card {
    padding: 10px;
    background: white;
    border-radius: 8px;
    margin: 10px 0;
}

.item-row {
    margin: 10px 0;
}